*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  opacity: 0.7;
  transform: translateY(-2px);
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
